.col {
  max-height: $grid-height;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}

.row-1-of-3 {
  height: calc((100% - 2 * #{$gutter-vertical}) / 3);
}

.row-1-of-2 {
  height: calc((100% - #{$gutter-vertical-small}) / 2);
}
