body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}

.main-header {
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;

  &--1 {
    display: block;
    font-size: 5.6rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      $color-white 20%,
      $color-primary-third
    );
    color: transparent;
    transition: all 0.2s;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--2 {
    display: block;
    font-size: 3rem;
    color: $color-primary-first;
    font-weight: 400;
    letter-spacing: 0.7rem;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }

  &--3 {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-white;

    @include respond(phone) {
      letter-spacing: 0.5rem;
      margin-top: 3rem;
    }
  }
}

.score-place {
  border: 1px solid rgba($color-primary-first, 0.4);
  border-radius: 50%;
  padding: 0 0.7rem;
  width: 10%;
}

.score-points {
  float: right;
  width: 75%;
  font-weight: 700;
  font-size: 2.5rem;

  @include respond(phone) {
    font-size: 3.4rem;
  }
}

.score {
  margin: 0 auto;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.1;
  background-image: linear-gradient(
    to right,
    $color-primary-forth,
    $color-primary-first
  );
  color: transparent;
  -webkit-background-clip: text;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  @include respond(phone) {
    letter-spacing: 1rem;
    font-size: 10rem;
  }
}
