.u-padding-bottom-big {
  padding-bottom: 4rem;
}

.u-padding-bottom-small {
  padding-bottom: 2rem;
}

.u-padding-top-medium {
  padding-top: 3rem;
}

.u-padding-top-big {
  padding-top: 4.6rem;
}

.u-margin-top-small {
  margin-top: 2.5rem;
}

.u-margin-left {
  margin-left: 1rem;
}

.u-margin-right {
  margin-right: 1rem;
}
