.question-container {
  background-color: $color-white;
  border-radius: 1rem;
  margin: 0 auto;
  width: 37%;
  height: 66%;
  box-shadow: -1.2rem 1.5rem 2.2rem 0.5rem rgba($color-black, 0.64);
}

.question-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  padding-top: 2rem;
}

.answer {
  position: relative;
  display: block;
  width: 46%;
  margin: 3rem auto;
  font-size: 1.5rem;
  label {
    display: block;
    background: lighten($color-primary-third, 15%);
    color: $color-primary-second;
    border-radius: 35rem;
    padding: 0.5rem 2rem;
    border: 1px solid $color-primary-second;
    cursor: pointer;
    appearance: none;
  }
  input[type='radio'] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
    &:checked + label {
      background: lighten($color-primary-second, 15%);
      border-color: $color-primary-second;
    }
  }

  &:hover {
    transition: all 0.3s;
    transform: scale(1.2) translateY(-0.6rem);
    z-index: 10;
  }
}
