.question-container {
  background-color: $color-white;
  border-radius: 1rem;
  margin: 0 auto;
  width: 45%;
  box-shadow: -1.2rem 1.5rem 2.2rem 0.5rem rgba($color-black, 0.64);
}

.question-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  padding-top: 2rem;
}
